.single-culinary {
    .custom-single-culinary {
        &-content {
            .container {
                padding: unset;
            }
            &-item {
                margin: 48px 98px;

                @include mq($until: lg) {
                    margin: 56px 64px;
                }

                @include mq($until: md) {
                    margin: 48px 16px;
                }

                &.tb-96 {
                    margin: 96px;

                    @include mq($until: lg) {
                        margin: 56px 64px;
                    }

                    @include mq($until: md) {
                        margin: 48px 16px;
                    }
                }

                &-tab {
                    background: #404040;
                    padding: 24px 48px;
                    border-radius: 12px;
                    margin-top: 48px;

                    @include mq($until: md) {
                        padding: 24px 24px;
                    }

                    &-reservation {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        align-items: center;

                        @include mq($until: lg) {
                            flex-direction: column;
                            gap: 24px;
                        }

                        &-section {
                            &-action {
                                display: flex;
                                align-items: center;
                                gap: 45px;

                                @include mq($until: lg) {
                                    flex-wrap: wrap;
                                    gap: 24px;
                                    justify-content: center;
                                }
                            }
                        }
                    }

                    &-info {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        align-items: center;

                        @include mq($until: lg) {
                            flex-wrap: wrap;
                            gap: 24px;
                        }

                        &-section {
                            display: flex;
                            align-items: center;
                            gap: 45px;

                            @include mq($until: md) {
                                gap: 36px;
                            }
                        }
                    }

                    &.bg-gold {
                        background: $gold;
                    }
                }

                &-galery {
                    &-heading {
                        margin-bottom: 48px;

                        @include mq($until: lg) {
                            margin-bottom: 24px;
                        }
                    }
                }
            }
        }
    }
}
