.single-spa {
    .custom-single-spa {
        background-color: $gldbg;
        &-content {
            display: flex;
            gap: 150px;

            @include mq($until: md) {
                flex-direction: column;
                gap: 0px;
            }

            &-item {
                @include mq($until: md) {
                    &:last-child {
                        margin-top: 16px;
                    }
                }

                &-intro {
                    margin-bottom: 45px;

                    p {
                        em {
                            font-family: 'Plantin', serif;
                        }
                    }

                    @include mq($until: md) {
                        p {
                            font-size: 24px;
                        }
                    }
                }

                &-button {
                    display: flex;
                    gap: 24px;
                }

                &-def {
                    padding: 24px 0px;

                    &:not(:last-child) {
                        border-bottom: 1px solid $grey;
                    }

                    @include mq($until: md) {
                        &:first-child {
                            padding-top: 0;
                        }
                    }

                    &-value {
                        &-content {
                            margin-top: 16px;

                            @include mq($until: md) {
                                margin-top: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}
