.single-spa {
    .custom-single-spa {
        background-color: $gldbg;
        &-content {
            display: flex;
            gap: 150px;

            &-item {
                &-intro {
                    margin-bottom: 45px;
                }

                &-button {
                    display: flex;
                    gap: 24px;
                }

                &-def {
                    padding: 24px 0px;

                    &:not(:last-child) {
                        border-bottom: 1px solid $grey;
                    }

                    &-value {
                        &-content {
                            margin-top: 16px;
                        }
                    }
                }
            }
        }
    }
}
