// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.footer {
    background-color: darken($brand-primary, 10%);
    color: $white;

    a {
        // color: inherit;
    }

    &__menu-wrapper {
        @include mq($until: sm) {
            order: -1;
        }
    }

    &__menu {
        padding: 0 0 10px 0;
        margin: 0;
        list-style: none;

        @include mq(sm) {
            padding: 0;
        }

        &__li {
            display: block;

            @include mq(sm) {
                display: inline-block;
            }
        }

        &__link {
            display: block;
            padding: 10px 0 0;

            @include mq(sm) {
                padding: 0 20px;
            }

            @include on-event() {
                text-decoration: underline;
            }
        }
    }
}

.footer-base {
    background: $brand-primary;
    color: $white;

    a {
        color: inherit;
    }

    &__contact-link {
        @include mq($until: sm) {
            margin-bottom: 20px;
        }
    }

    &__social_links {
        margin-top: 10px;

        @include mq(sm) {
            margin-top: 0;
            text-align: right;
        }
    }

    &__social_link {
        padding: 8px;

        i {
            font-size: 14px;
            padding: 8px;
            border-radius: 50%;
            background-color: $white;
            color: $brand-primary;
        }
    }
}

.footer {
    background-color: white;

    &.global {
        .container {
            &.con-menus {
                padding: 64px 32px;

                @include mq($until: 'xl') {
                    padding: 32px 16px;
                }
            }

            &.con-legal {
                border-top: solid 1px $grey;
                padding: 16px 32px;
            }
        }
    }

    &-wrap {
        display: flex;
        width: 100%;
        justify-content: space-between;
        min-height: 238px;
        margin: 64px 0px;
    }

    &-section {
        // second child
        &:first-child {
            width: 20%;
        }
        &:nth-child(2) {
            width: 50%;
        }
        &:last-child {
            width: 15%;
        }
        .nav {
            display: flex;
            justify-content: space-between;
            width: 100%;

            li {
                position: relative;

                &.menu-item-has-children {
                    color: $hover;
                    a {
                        padding: unset;
                        span {
                            font-family: $kanit;
                            font-size: 20px;
                            font-weight: 400;
                            line-height: 28px;
                            text-align: left;
                        }
                    }
                }

                .nav__submenu {
                    position: absolute;
                    opacity: 1;
                    z-index: 2;
                    pointer-events: auto;

                    background: transparent;
                    padding: unset;
                    overflow: hidden;

                    margin-top: 24px;
                    gap: 24px;
                    display: flex;
                    flex-direction: column;

                    li {
                        a {
                            span {
                                font-family: 'roboto';
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 16px;
                                text-align: left;
                            }
                        }
                    }
                }
            }
        }

        &-social {
            &-title {
                font-family: $kanit;
                font-size: 20px;
                font-weight: 400;
                line-height: 30px;
                text-align: left;
                color: $hover;
            }

            &:nth-child(2) {
                margin-top: 48px;
                margin-bottom: 24px;
            }

            &.social {
                display: flex;
                gap: 16px;
                a {
                    width: 40px;
                    height: 40px;
                    display: flex;
                    background: white;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                }
            }
        }
    }

    &-legal {
        display: flex;
        gap: 32px;

        .nav {
            display: flex;
            gap: 32px;
        }

        &-item {
            &:last-child {
                margin-left: 10%;
            }
        }
    }
}

.footer {
    &-cta {
        background-color: $gold;

        .container {
            padding: 48px;

            @include mq($until: 'lg') {
                padding: 24px 16px;
            }
        }

        &-section {
            width: 100%;
        }
        &-wrap {
            display: flex;
            justify-content: space-between;
            gap: 180px;

            @include mq($until: 'lg') {
                flex-direction: column-reverse;
                gap: 24px;
            }
        }

        &-content {
            &-form {
                .gform_heading {
                    display: none !important;
                }

                .ginput_container {
                    input {
                        height: clamp(45px, calc(60 * 100vw / 720), 60px) !important;
                        border-radius: 8px !important;
                        font-family: 'MrEavesModOT', sans-serif !important;
                        font-size: clamp(16px, calc(20 * 100vw / 1440), 20px) !important;
                        padding: 20px !important;
                    }
                }

                .gform_footer {
                    @include mq($until: 'lg') {
                        margin-top: 8px !important;
                    }

                    input {
                        padding: 14px 16px !important;
                        background: white !important;
                        color: black !important;
                        border-radius: 8px !important;
                        font-size: 20px !important;
                        font-family: 'MrEavesModOT', sans-serif !important;

                        @include mq($until: 'lg') {
                            font-size: 14px !important;
                            width: auto;
                            height: auto;
                            display: flex;
                            padding: 12px !important;
                        }
                    }
                }
            }

            &-title {
                margin-bottom: clamp(8px, calc(18 * 100vw / 1440), 18px);

                @include mq($until: 'lg') {
                    font-size: 20px;
                    line-height: 110%;
                }
            }
        }
    }

    &-menu {
        &-cta {
            &-title {
                margin-bottom: 32px;
            }

            &-button {
                a {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    width: auto;
                    gap: 12px;
                }
            }
        }

        &-wrap {
            display: flex;
            justify-content: space-between;

            @include mq($until: 'lg') {
                flex-direction: column;
                gap: 32px;
            }
        }

        &-section {
            &:not(:first-child) {
                display: flex;
                justify-content: flex-end;
                width: 100%;
                gap: 90px;

                @include mq($until: 'lg') {
                    flex-direction: column;
                    gap: unset;
                }
            }
        }

        &-item {
            &-section {
                &:not(:first-child) {
                    display: flex;
                    justify-content: flex-end;
                    width: 100%;
                }
            }

            &-list {
                display: flex;
                gap: 180px;

                @include mq($until: 'md') {
                    gap: unset;
                    justify-content: space-between;
                    flex-wrap: wrap;
                }

                .menu-social-item {
                    display: flex;
                    gap: 12px;
                    flex-wrap: wrap;
                }

                &-wrap {
                    display: flex;
                    flex-direction: column;
                }

                &-main {
                    font-family: 'Plantin', serif;
                    font-size: 24px;
                    font-style: italic;
                    margin-bottom: 16px;
                    color: $gold;
                }

                &-sub {
                    display: flex;
                    flex-direction: column;

                    .footer-menu-item-list-main {
                        font-family: 'MrEavesModOT', sans-serif;
                        font-size: clamp(16px, calc(20 * 100vw / 1440), 20px);
                        font-weight: 400;
                        font-style: normal;
                        color: black;

                        @include mq($until: 'lg') {
                            margin-bottom: 8px;
                        }
                    }
                }
            }

            &.menu-social {
                .footer-menu-item-list {
                    flex-direction: column;
                    align-items: baseline;
                    gap: 16px;
                }
            }
        }

        &-legal {
            display: flex;
            justify-content: space-between;

            @include mq($until: 'lg') {
                flex-direction: column;
            }

            &-wrap {
                display: flex;
                gap: 12px;
                justify-content: center;
                align-items: center;

                @include mq($until: 'lg') {
                    flex-direction: column;
                }
            }

            &-links {
                display: flex;
                gap: 12px;

                a {
                    margin-bottom: 6px;
                }
                .nav__title {
                    font-family: 'MrEavesModOT', sans-serif;
                    font-size: 16px;
                    font-style: normal;
                }
            }
        }
    }
}
