<footer class="footer global">
	<div class="footer-cta">
		<div class="container">
			<div class="footer-cta-wrap">
				<div class="footer-cta-section">
					<div class="footer-cta-content">
						<div class="footer-cta-content-title">
							Title
						</div>
					</div>
					<div class="footer-cta-content-form">
						{{ shortcode('[gravityforms id="6"]') }}
					</div>
				</div>

				<div class="footer-cta-section">
					<div class="footer-cta-text plantin t-36 color-white t-italic">
						Join our exclusive list and unlock early access to special offers, luxury packages, and seasonal experiences
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="footer-menu">
		<div class="container">
			<div class="footer-menu-wrap">
				<div class="footer-menu-section">
					<div class="footer-menu-cta">
						<div class="footer-menu-cta-title">
							Your next getawaystarts with us
						</div>
						<div class="footer-menu-cta-button">
							<a href="#" class="button button--primary">Book Your stay</a>
						</div>
					</div>
				</div>
				<div class="footer-menu-section">
					<div class="footer-menu-item">
						<div class="footer-menu-item-list">
							{% include 'Header/nav.twig' with {
								menu: theme_menus.footer_menu
						} only %}
						</div>
					</div>
					<div class="footer-menu-item menu-social">
						<div class="footer-menu-item-list">
							{% include 'Header/nav.twig' with {
							menu: theme_menus.footer_menu
						} only %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</footer>
