.intro-text {
    .container {
        @include mq($until: md) {
            padding: 48px 16px 48px;
        }
    }

    &-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-content {
        width: 80%;
        margin-bottom: 35px;

        @include mq($until: lg) {
            margin-bottom: 0px;
            width: 100%;
        }
    }

    &-tail {
        display: flex;
        justify-content: center;
        gap: 20px;
        align-items: center;

        @include mq($until: xl) {
            margin-top: 24px;
        }

        &-icon-image {
            width: 14px;
            height: auto;
            max-width: none;
        }
    }
}
