.intro-text {
    &-content {
        margin-bottom: 35px;
    }

    &-tail {
        display: flex;
        justify-content: center;
        gap: 20px;
        align-items: center;

        &-icon-image{
            width: 14px;
            height: auto;
            max-width: none;
        }
    }
}
