.text-slider {
    &.image-left {
        .text-slider-wrap {
            flex-direction: row-reverse;
        }
    }
    &-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 120px;

        @include mq($until: lg) {
            flex-direction: column-reverse !important;
            gap: 24px;
        }
    }

    &-content {
        &-title {
            margin-bottom: 32px;

            @include mq($until: md) {
                margin-bottom: 24px;
            }
        }

        &-description {
            line-height: 140%;
        }
    }

    &-section {
        width: 100%;
    }

    &-slider {
        &-wrap {
            position: relative;
        }

        .swiper {
            &-wrapper {
                height: 550px;
                aspect-ratio: 1 / 1;

                @include mq($until: md) {
                    height: auto;
                }
            }
            &-pagination {
                position: relative;
                margin-top: 32px;

                &-bullet {
                    background-color: black;
                }
            }

            &-button {
                &-next,
                &-prev {
                    background: $gold;
                    padding: 34px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    @include mq($until: md) {
                        padding: 28px;
                    }

                    &::after {
                        font-size: 32px;
                        color: white;

                        @include mq($until: md) {
                            font-size: 24px;
                        }
                    }

                    &.swiper-button-disabled {
                        display: none;
                    }
                }

                &-next {
                    right: -30px;
                    top: 44%;
                    scale: 1.2;

                    @include mq($until: md) {
                        right: -5px;
                        top: 42%;
                        scale: 1;
                    }
                }

                &-prev {
                    left: -30px;
                    top: 44%;
                    scale: 1.2;

                    @include mq($until: md) {
                        left: -5px;
                        top: 42%;
                        scale: 1;
                    }
                }
            }
        }
    }
}
