<div class="module padding-fluid video-module">
	<div class="container">
		<div class="video-module-wrap">
			<video src="{{module.video.url}}"></video>
			<div class="video-module-layer">
				<div class="video-module-layer-wrap">
					<span>
						{% include "img/arrow-gold-right.svg" %}
					</span>
					<span class="eaves t-18 color-white">
						Watch Our Video
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
