@use "sass:math";
@import 'hamburger';

.header {
    background-color: $white;
    transition: $transition-default;
    height: $header-mobile-height;

    @include mq(mobile-menu-break) {
        height: $header-height;
    }

    .has-page-reader & {
        height: $header-mobile-height + $page-reader-header-height;

        @include mq(xl) {
            height: $header-height + $page-reader-header-height;
        }
    }

    .header-sticky & {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        box-shadow: 0 3px 25px 2px rgba($black, 0.2);
    }

    .admin-bar.header-sticky & {
        top: 46px;

        @include mq(783px) {
            top: 32px;
        }
    }

    .nav-active & {
        transform: translateX(calc(-100% + 100px));
    }

    .row {
        align-items: center;
    }

    &__logo {
        width: 100%;
        max-width: 230px;

        background: {
            image: image('logo.svg');
            position: left center;
            size: contain;
            repeat: no-repeat;
        }

        .sizer {
            width: 100%;
            padding-bottom: percentage(math.div(40, 230));
        }
    }

    &__search {
        background: none;
        margin: 0;
        padding: 5px 10px;
        border: 0;
        line-height: 1;
        font-size: 20px;
    }

    &__controls {
        @include mq($until: sm) {
            text-align: right;
        }
    }

    &__nav {
        @include mq($until: sm) {
            width: auto;
            flex-basis: auto;
            padding: 0;
            height: 100vh;
            @include wp-admin-fix();
            @include square(100%);
            position: fixed;
            z-index: -1;
            top: 0;
            right: 0;
            left: 100px;
            background-color: $gray-200;
            opacity: 0;
            pointer-events: none;
            transition: opacity $transition-default;

            .nav-active & {
                z-index: 1;
                pointer-events: auto;
                opacity: 1;
                overflow-y: auto;
            }
        }
    }
}

.page-wrap {
    @include mq($until: sm) {
        position: relative;
        z-index: 2;
        transition: $transition-default;
        box-shadow: -1px -2px 20px 0 rgba($black, 0);

        .nav-active & {
            box-shadow: -1px -2px 20px 0 rgba($black, 0.2);
            transform: translateX(calc(-100% + 100px));
        }
    }
}

.nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;

    @include mq(sm) {
        flex-direction: row;
    }

    &__li {
        position: relative;

        & + .nav__li {
            @include mq($until: sm) {
                border-top: 1px solid $brand-primary;
            }
        }

        &--submenu-open > .nav__toggle {
            @include mq($until: sm) {
                i {
                    transform: rotate(90deg);
                }
            }
        }

        @include mq(sm) {
            @include on-event() {
                > .nav__submenu {
                    opacity: 1;
                    pointer-events: auto;
                    z-index: 998;
                    transition: all 0s 0s, opacity $transition-fast;
                }

                > .nav__a .nav__a__title {
                    .nav__submenu & {
                        transform: translateX(10px);
                    }
                }
            }
        }
    }

    &__toggle {
        @include square(49px);
        background-color: $brand-primary;
        border: 0;
        padding: 0;
        margin: 0;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;

        @include mq(sm) {
            width: 30px;
            height: auto;
            bottom: 0;
        }

        i {
            display: inline-block;
            color: $white;
            transition: $transition-fast;

            @include mq($until: sm) {
                transform: rotate(180deg);
            }
        }

        // No top level buttons
        &--0 {
            @include mq(sm) {
                display: none;
            }
        }
    }

    &__a {
        white-space: nowrap;
        display: block;
        padding: $nav-link-padding-y $nav-link-padding-x;

        &__title {
            transition: inherit;
            display: block;
        }

        @include mq($until: sm) {
            padding: 15px;
            font-size: 12px;
            position: relative;
            z-index: 1;
        }
    }

    &__submenu {
        color: $white;
        position: relative;
        width: 100%;
        display: none;
        background-color: $brand-primary;

        @include mq(sm) {
            display: block;
            position: absolute;
            top: 100%;
            left: 0;
            width: auto;
            min-width: 200px;
            opacity: 0;
            pointer-events: none;
            z-index: -10;
            transition: all 0s $transition-speed-fast, opacity $transition-fast;
        }

        .nav__li + .nav__li {
            @include mq($until: sm) {
                border-top: 1px solid rgba($white, 0.8);
            }
        }

        a {
            color: inherit;
            padding: 0.5vw 0.75vw;

            @include mq($until: sm) {
                padding: 15px;
                font-size: 12px;
                position: relative;
                z-index: 1;
            }
        }
    }

    &__submenu &__submenu {
        background-color: darken($brand-primary, 5%);

        @include mq(sm) {
            top: 0;
            left: 100%;
        }
    }

    // no more menus, pls
    &__submenu &__submenu &__submenu {
        display: none;
    }
}

.keyboard-nav {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 999999;

    a {
        position: absolute;
        left: 0;
        top: -10em;
        padding: 15px 30px;
        white-space: nowrap;
        color: $white;
        font-size: 18px;
        background-color: $brand-primary;

        &:focus {
            top: 0;
        }
    }
}

// custom header styles

.header {
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    z-index: 99;
    width: 100%;
    height: 150px;

    height: clamp(120px, calc(150 * 100vw / 1440), 150px);

    // glass effect
    background: rgb(15 13 9 / 55%);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);

    &.scroll-up {
        top: 0;
    }

    &.scroll-down {
        top: -170px;
    }

    &.top {
        top: 0 !important;
    }

    .container {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 7px;
            background: $gold;
            z-index: 2;
            pointer-events: none;
        }
    }

    &-wrap {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        justify-content: space-between;
    }

    &-section {
        width: auto;

        &:nth-child(2) {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &:last-child {
            .header-section-wrap {
                gap: 0px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-end;
                height: 100%;

                transition: $transition-default;

                .top & {
                    gap: 16px;
                }
            }
        }

        &-wrap {
            &-logo {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 14px;
            }

            &-menu {
                display: flex;
                gap: 40px;
                align-items: center;
                scale: 1;

                @include mq($until: 'lg') {
                    display: none;
                }
            }

            &-button {
                width: 100%;

                &:first-child {
                    height: 0px;
                    overflow: hidden;
                    transition: $transition-default;

                    .top & {
                        height: 32px;

                        .mbtn-mini {
                            height: 32px;
                        }
                    }
                }

                &:last-child {
                    transition: $transition-default;

                    height: 53px;
                    .top & {
                        .mbtn-mini {
                            height: 32px;
                        }
                    }
                }

                @include mq($until: 'lg') {
                    width: auto;
                }
            }
        }
    }

    &-slide {
        width: max-content;
        height: 100vh;
        background: white;
        padding: 32px;
        padding-top: 52px;
        overflow: auto;
        height: calc(100vh - 150px);

        transition: $transition-default;
        left: -75%;
        position: relative;

        &.slide {
            left: 0;
        }

        &-wrap {
            .nav {
                flex-direction: column;

                li {
                    &.nav__item {
                        a {
                            border-bottom: solid 1px black;
                            padding: 12px 0px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                        }

                        &.nav__item--1 {
                            a {
                                border-bottom: none;
                            }

                            &:last-child {
                                a {
                                    border-bottom: solid 1px black;
                                }
                            }
                        }
                    }
                }

                .nav__title {
                    font-family: 'MrEavesModOT', sans-serif;
                    font-size: 20px;
                    color: black;
                }
                .menu-item-has-children {
                    .nav__submenu {
                        height: auto;
                        overflow: hidden;
                        transition: $transition-default;

                        &.init {
                            height: auto !important;
                        }

                        &.close {
                            height: 0px;
                        }

                        &.open {
                            height: var(--height, auto);
                        }
                    }
                }

                .nav__submenu {
                    position: relative;
                    pointer-events: auto;
                    z-index: 1;
                    opacity: 1;
                    padding: unset;
                    background-color: transparent;
                    color: black;

                    li {
                        a {
                            font-family: 'MrEavesModOT', sans-serif;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}
