.service-slider {
    &-heading {
        display: flex;
        margin-bottom: 48px;
        &-content {
            width: 70%;
        }

        &-button {
            width: 30%;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;

            .mbtn {
                width: auto;
            }
        }
    }

    &-wrap {
        .swiper {
            overflow: unset;
            &-wrapper {
                gap: 58px;
            }

            &-slide {
                width: 40%;
            }
        }
    }

    &-item {
        .style-bordered & {
            overflow: hidden;
            background: #e3e3e3;
            display: flex;
            flex-direction: column;
            padding-bottom: 32px;
        }

        &-title {
            margin: 28px 0px;

            .style-bordered & {
                padding: 0px 24px;
            }
        }

        &-desc {
            .style-bordered & {
                padding: 0px 24px;
            }
        }

        &-image {
            width: 500px;
            height: 300px;
            overflow: hidden;
            aspect-ratio: 500/300;

            .style-bordered & {
                width: 100%;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-button {
            margin-top: 32px;
            .style-bordered & {
                padding: 0px 24px;
            }
        }
    }

    &-navigation {
        display: flex;
        gap: 48px;
        margin-top: 68px;
    }
}
