.dining-and-offer {
    &-heading {
        &-title {
            display: flex;
            justify-content: center;
            margin-bottom: 64px;
            margin-bottom: clamp(32px, calc(64 * 100vw / 1440), 64px);

            @include mq($until: lg) {
                margin-bottom: 48px;
            }

            @include mq($until: md) {
                margin-bottom: 32px;
            }

            h2 {
                width: 70%;

                @include mq($until: xl) {
                    width: 100%;
                }
            }
        }

        &-filter {
            display: flex;
            justify-content: center;
            gap: 10px;
            margin-bottom: 68px;

            @include mq($until: md) {
                margin-bottom: 48px;
            }

            &-wrap {
                width: 50%;
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                justify-content: center;

                @include mq($until: xl) {
                    width: 80%;
                }
            }

            button {
                &.active {
                    color: white;
                    background-color: #404040;
                }
                border: 1px solid #404040;
                padding: 8px 16px;
                border-radius: 40px;
                background-color: transparent;
                color: #404040;
            }
        }
    }

    &-content {
        &-wrap {
            gap: 18px;
            display: flex;
            flex-wrap: wrap;
            row-gap: 80px;
            row-gap: clamp(32px, calc(80 * 100vw / 1440), 80px);
        }
    }

    .filter-card {
        flex: calc(33.3% - 18px);
        width: calc(33.3% - 18px);
        display: flex;

        @include mq($until: lg) {
            flex: calc(50% - 18px);
            width: calc(50% - 18px);
        }

        @include mq($until: md) {
            width: 100%;
            flex: 100%;
        }

        &-image {
            height: 265px;
            overflow: hidden;

            @include mq($until: lg) {
                width: 100%;
            }

            @include mq($until: md) {
                height: auto;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                aspect-ratio: 3 / 2;
            }
        }

        &-cat {
            &-wrap {
                display: flex;
                gap: 8px;
                flex-wrap: wrap;
                align-items: center;
                margin: 24px 0px;

                @include mq($until: md) {
                    margin: 16px 0px 10px;
                }
            }

            &-item,
            &-separator {
                @include mq($until: lg) {
                    line-height: normal;
                }
            }
        }
    }

    &.style-experience {
        .filter-card {
            display: flex;
            &-title {
                margin-top: 24px;
                margin-top: clamp(16px, calc(32 * 100vw / 1440), 32px);
                margin-bottom: 36px;
                margin-bottom: clamp(20px, calc(36 * 100vw / 1440), 36px);
            }
            &-button {
                &-wrap {
                    display: flex;
                    gap: 8px;
                    align-items: flex-end;
                    margin-top: 36px;
                    margin-top: clamp(20px, calc(36 * 100vw / 1440), 36px);
                }

                &-details {
                    &-toggle {
                        background: transparent;
                        display: flex;
                        border: none;
                        position: relative;
                        top: 2px;
                    }
                }
            }
        }

        .experience-popup {
            position: fixed;
            top: 0;
            left: 0;
            background: #ac9366d4;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            opacity: 0;
            pointer-events: none;
            transition: $transition-default;

            &.active {
                opacity: 1;
                pointer-events: auto;
                z-index: 99;
            }

            &-close {
                position: absolute;
                right: 45px;
                top: 45px;
                cursor: pointer;

                @include mq($until: md) {
                    position: fixed;
                }
            }
            &-wrap {
                display: flex;

                padding: clamp(32px, calc(75 * 100vw / 1440), 75px);
                gap: clamp(32px, calc(68 * 100vw / 1440), 68px);

                position: relative;
                background: white;
                width: 80vw;
                height: auto;

                @include mq($until: lg) {
                    flex-direction: column;
                    padding: 24px;
                    gap: 16px;
                }
            }

            &-section {
                width: 100%;

                &-image {
                    aspect-ratio: 1.1;
                    width: 100%;
                    height: 100%;
                }

                &-content {
                    &-title {
                        margin-bottom: clamp(16px, calc(32 * 100vw / 1440), 32px);
                    }

                    &-desc {
                        max-height: 350px;
                        overflow: auto;

                        @include mq($until: lg) {
                            max-height: 19vh;
                            overflow: auto;
                        }
                    }

                    &-button {
                        margin-top: 32px;
                        width: auto;
                        display: flex;
                    }
                }
            }
        }
    }
}
