.center-text {
    &-content {
        width: 80%;

        @include mq($until: md) {
            width: 100%;
        }

        &-wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        p {
            margin-bottom: 32px;
            em {
                font-style: italic;
                font-family: 'Plantin', serif;
                font-size: 40px;
                line-height: 120%;
            }
        }
    }
}
