<div class="module padding-fluid center-text">
	<div class="container">
		<div class="center-text-content-wrap">
			<div class="center-text-content eaves t-32 lh-100   ">
				{{module.content|wpautop}}
			</div>
		</div>
	</div>
</div>
