{% if module.style == 'default' %}
	<div class="module padding-fluid hero">
		<div class="hero-bg">
			<div class="swiper">
				<div class="swiper-wrapper">
					{% for item in module.background %}
						<div class="swiper-slide">
							{% include 'partials/image.twig' with {
						'image': item.image,
						'classes': 'hero-bg-image',
						'lazy': true
					} %}
						</div>
					{% endfor %}
				</div>
				<!-- If we need pagination -->
				<div class="swiper-pagination"></div>

				<!-- If we need navigation buttons -->
				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>
			</div>
		</div>
		<div class="container">
			<div class="hero-wrap">

				<h1 class="hero-title plantin t-72 lh-120 color-white t-italic t-center">{{module.title}}</h1>
				{% if module.date_picker %}
					<div class="hero-wrap-picker dater">
						<div class="dater-wrap">
							<label class="eaves t-20 color-white">Check-in Date</label>
							<input type="text" class="daterangepicker eaves" placeholder="Select Date" value="">
						</div>
						<div class="dater-wrap">
							<label class="eaves t-20 color-white">Check-out Date</label>
							<input type="text" class="daterangepickerend eaves" placeholder="Select Date" value="">
						</div>
						<a href="#" class="datergater eaves" target="_blank" rel="noopener noreferrer">
							Check Rates
						</a>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
{% elseif module.style == 'single-villas' %}
	<div class="module padding-fluid hero">
		<div class="hero-bg">
			<div class="swiper">
				<div class="swiper-wrapper">
					{% for item in module.background %}
						<div class="swiper-slide">
							{% include 'partials/image.twig' with {
						'image': item.image,
						'classes': 'hero-bg-image',
						'lazy': true
					} %}
						</div>
					{% endfor %}
				</div>
				<!-- If we need pagination -->
				<div class="swiper-pagination"></div>

				<!-- If we need navigation buttons -->
				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>
			</div>
		</div>
		<div class="container">
			<div class="hero-wrap">
				<h1 class="hero-title plantin t-72 lh-120 color-white t-italic t-center">{{module.title}}</h1>
				<div class="hero-button">
					{% include "partials/button.twig" with{
						'link': module.button,
						style: 'mbtn mbtn-transparent'
					} %}
				</div>
			</div>
		</div>
	</div>
{% else %}
	<div class="module hero hero-text-only">
		<div class="container">
			<div class="hero-text-only-wrap">
				<h1 class="hero-text-only-title plantin t-72 lh-120 color-black t-italic t-center">
					{{module.title|wpautop}}
				</h1>
				<div class="hero-text-only-desc plantin t-24 color-black lh-120 t-center t-italic">
					{{module.description|wpautop}}
				</div>
			</div>

		</div>
	</div>

{% endif %}
