.croped-gallery {
    .container {
        @include mq($until: md) {
            padding: 24px 0px;
        }
    }

    .swiper {
        height: 100%;
        width: 100%;
        &-wrapper {
            height: 100%;
        }

        &-slide {
            width: 75%;
            position: relative;
            overflow: hidden;
            aspect-ratio: 16/9;

            @include mq($until: md) {
                width: 90%;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-button {
            &-prev,
            &-next {
                scale: 0.8;
                color: white;
            }
        }

        &-pagination {
            bottom: 48px;
            display: flex;
            justify-content: center;
            gap: 16px;
            &-bullet {
                background: white;
                scale: 2;
            }
        }

        .swiper-button-next,
        .swiper-button-prev {
            @include mq($until: md) {
                border-radius: 100%;
            }
        }

        .swiper-button-next {
            right: var(--swiper-navigation-sides-offset, 30px);
        }

        .swiper-button-prev {
            left: var(--swiper-navigation-sides-offset, 30px);
        }

        .swiper-button-next:after,
        .swiper-button-prev:after {
            @include mq($until: md) {
                font-size: 30px;
                font-weight: bold;
            }
        }
    }
}

.full-gallery {
    .container {
        max-width: unset;
        padding-left: unset;
        padding-right: unset;
    }

    .swiper {
        &.layer-black {
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.32);
                z-index: 1;
                pointer-events: none;
            }
        }

        &-slide {
            height: clamp(380px, calc(580 * 100vw / 1440), 580px);
        }

        &-navigation {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            position: absolute;
            bottom: 37px;
            animation: 2;
            width: 100%;
            color: white;
        }

        &-pagination {
            position: relative;
        }

        &-image-alt {
            position: relative;
            z-index: 2;

            &-item {
                display: none;
                &.active {
                    display: block;
                }
            }
        }

        .swiper-button-next:after,
        .swiper-button-prev:after {
            color: white;
            font-size: 32px;
        }
    }
}
