<div class="module simple-galery padding-fluid {{module.style}}-gallery">
	<div class="container">
		<div class="swiper {{module.style == 'full' ? 'layer-black' : ''}}">
			<div class="swiper-wrapper">
				{% for items in module.item %}
					<div class="swiper-slide">
						{% include 'partials/image.twig' with {
						'image': items,
						'classes': 'hero-bg-image',
						'lazy': true
					} %}
					</div>
				{% endfor %}
			</div>
			<!-- If we need pagination -->

			{% if module.style == 'full' %}
				<!-- If we need pagination -->
				<div class="swiper-navigation plantin t-32 t-italic color-white lh-100">
					<div class="swiper-pagination"></div>
					<div class="swiper-image-alt">
						{% for item in module.item %}
							<div class="swiper-image-alt-item {{loop.first ? 'active' : ''}}">
								{{item.alt}}
							</div>
						{% endfor %}
					</div>
				</div>

			{% else %}
				<div class="swiper-pagination none"></div>
			{% endif %}


			<!-- If we need navigation buttons -->
			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>
		</div>
	</div>
</div>
