// -----------------------------------------------------------------------------
// This file contains global HTML tag styles.
// -----------------------------------------------------------------------------

:root {
    font-family: $font-family-base;
    line-height: $line-height-base;
    font-weight: $font-weight-normal;
    font-size: 14px;

    @include mq(md) {
        font-size: 16px;
    }
}

* {
    &,
    &:before,
    &:after {
        box-sizing: border-box;
    }
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    color: $body-color;
    background-color: $body-bg;
}

::selection {
    background: $brand-primary;
    color: $white;
}

::-moz-selection {
    background: $brand-primary;
    color: $white;
}

.content-wrap {
    flex: 1 0 auto;
}

.page-wrap {
    width: 100%;
    overflow: hidden;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: $body-bg;
}

// Images
img {
    vertical-align: middle;
    max-width: 100%;
}

a {
    color: $brand-primary;
    text-decoration: none;
    transition: $transition-default;

    @include on-event() {
        color: darken($brand-primary, 10%);
    }
}

button {
    cursor: pointer;
}

.clip-marker {
    width: 0;
    height: 0;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
}

.swiper-button-disabled {
    opacity: 0.5;
}

.module,
.header {
    .container {
        padding: 56px 96px;
        max-width: 1440px;

        &-header {
            padding: 24px 45px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: unset;
        }
    }
}

p {
    &:last-child {
        margin-bottom: 0;
    }
}

.plantin {
    font-family: 'Plantin', serif;
}

.eaves {
    font-family: 'MrEavesModOT', sans-serif;
}

.touch {
    cursor: pointer;
}

.t {
    &-uppercase {
        text-transform: uppercase;
    }

    &-capitalize {
        text-transform: capitalize;
    }

    &-center {
        text-align: center;
    }

    &-right {
        text-align: right;
    }

    &-left {
        text-align: left;
    }

    &-justify {
        text-align: justify;
    }

    &-bold {
        font-weight: bold;
    }

    &-italic {
        font-style: italic;
    }

    &-underline {
        text-decoration: underline;
    }
}

.lh {
    &-100 {
        line-height: 100%;
    }

    &-110 {
        line-height: 110%;
    }

    &-120 {
        line-height: 120%;
    }

    &-130 {
        line-height: 130%;
    }
}

.color {
    &-white {
        color: $white;

        a {
            color: $white;
        }
    }

    &-black {
        color: $black;

        a {
            color: $black;
        }
    }

    &-grey {
        color: $grey;

        a {
            color: $grey;
        }
    }
}

.t {
    &-10 {
        font-size: 10px;
    }

    &-12 {
        font-size: 12px;
    }

    &-14 {
        font-size: 14px;
    }

    &-20 {
        font-size: 20px;
    }

    &-24 {
        font-size: 24px;
    }

    &-30 {
        font-size: 30px;
    }

    &-32 {
        font-size: 32px;
    }

    &-40 {
        font-size: 40px;
    }

    &-48 {
        font-size: 48px;
    }

    &-72 {
        font-size: 72px;
    }

    &-96 {
        font-size: 96px;
    }
}

.t {
    &-italic {
        font-style: italic;
    }
}
