.btn {
    display: inline-block;
    border: 0;
    background: none;
    color: $white;
    background-color: theme-color('primary');
    border-radius: $border-radius-default;
    font-weight: $btn-font-weight;
    transition: $transition-default;
    text-align: center;
    line-height: 1;
    padding: $btn-padding-y $btn-padding-x;

    @include on-event() {
        background-color: darken(theme-color('primary'), 10%);
        color: $white;
    }

    &[disabled] {
        opacity: 0.8;
        cursor: not-allowed;
    }
}

.btn-block {
    width: 100%;
    display: block;

    & + .btn-block {
        margin-top: $padding;
    }
}

.mbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    width: 100%;
    font-family: 'MrEavesModOT', sans-serif;
    font-size: 24px;
    font-size: clamp(16px, calc(24 * 100vw / 1440), 24px);
    width: auto;
    min-width: 140px;

    @include mq($until: 'md') {
        min-width: auto;
        padding: 8px;
    }

    &-transparent {
        border: solid 1px white;
        background-color: transparent;
        color: white;

        &-black {
            border: solid 1px white;
            border-color: black;
            color: black;
        }
    }

    &-white {
        background-color: white;
        color: black;
        border: solid 1px transparent;
    }

    &-gold {
        background-color: $gold;
        color: white;
        border: solid 1px transparent;
    }

    &-mini {
        // height: 32px;
    }

    &-black {
        background-color: black;
        color: white;
    }

    &.border {
        &-12 {
            border-radius: 12px;
        }
    }
}

.btn {
    &-transparent {
        background-color: transparent;
    }

    &-no-border {
        border: none;
    }
}
