// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

@font-face {
    font-family: 'Plantin';
    src: url('../../fonts/plantin/Plantin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plantin';
    src: url('../../fonts/plantin/Plantin-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Plantin';
    src: url('../../fonts/plantin/Plantin-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Plantin';
    src: url('../../fonts/plantin/Plantin-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plantin';
    src: url('../../fonts/plantin/Plantin-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MrEavesModOT';
    src: url('../../fonts/mreaves/MrEavesModOT-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MrEavesModOT';
    src: url('../../fonts/mreaves/MrEavesModOT-Reg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
