.cta-devider {
    height: clamp(380px, calc(680 * 100vw / 1440), 680px);
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 0;
    }

    &-image {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .container {
        position: relative;
        z-index: 1;
    }

    .cta-devider-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &-title {
        margin-bottom: clamp(18px, calc(24 * 100vw / 1440), 24px);
    }

    &-desc {
        @include mq($from: xl) {
            width: 70%;
        }
        margin-bottom: clamp(32px, calc(64 * 100vw / 1440), 64px);
    }
}

.cta-compact {
    position: relative;
    height: 450px;
    overflow: hidden;

    @include mq($until: md) {
        height: 400px;
    }

    display: flex;
    justify-content: center;
    align-items: center;

    &-wrap {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        align-items: center;
        background: rgba(0, 0, 0, 0.5);
        z-index: 0;
    }

    &-title {
        @include mq($until: md) {
            max-width: 90%;
            text-align: center;
        }
    }

    .container {
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        max-width: unset;
        max-width: 1440px;
        margin: auto;

        @include mq($until: md) {
            padding: 48px 0px;
        }
    }

    &-image {
        padding: 56px 96px;
        height: 100%;
        max-width: 1440px;
        width: 100%;

        @include mq($until: lg) {
            padding: 46px 32px;
        }

        @include mq($until: md) {
            padding: 48px 0;
        }
    }
}
