<div class="module padding-fluid cta-compact">
	<div class="cta-compact-image">
		{% include 'partials/image.twig' with{
        'image': module.background,
        } %}
	</div>
	<div class="container">
		<div class="cta-compact-wrap">
			<div class="cta-compact-title plantin t-72 color-white t-italic t-center">
				{{module.title}}
			</div>
		</div>
	</div>
</div>
